In [109]:
import pandas as pd
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Algorithm used below is XGBoost. We used 2 dataset  1) Training Data set to Train the model 2) Test Dataset to test and predict

In [110]:
# Load the Training data
train_df = pd.read_csv('inputData/logdatatraining-latest.csv', header=0)

In [108]:
train_df

,SequenceNumber,IsPan,bin,sixteendigits,fifteendigits,fourteendigits,startwithfive,startwithfour
0,0,1,1,1,1,1,1,0
1,1,1,1,1,1,1,0,1
2,2,0,1,1,1,1,0,0
3,3,1,1,0,1,1,1,0
4,4,1,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...
1035,1035,0,0,0,1,1,0,0
1036,1036,0,0,0,0,1,1,0
1037,1037,0,0,0,0,1,0,1
1038,1038,0,0,0,0,1,0,0
1039,1039,0,0,0,0,0,0,0

# Split the data into Training and Test Data

In [95]:
X = train_df[["SequenceNumber","bin", "sixteendigits", "fifteendigits","fourteendigits","startwithfive","startwithfour"]]
y = train_df[["IsPan"]]

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.33, random_state=7)

# Using XBGClassifier model

In [96]:
gbm = xgb.XGBClassifier(max_depth=5, n_estimators=300, learning_rate=0.05).fit(train_X, train_y)

# Predict the Result using the test data set

In [100]:
y_pred = gbm.predict(test_X)

# Push the result to the outputFile

In [101]:

submission = pd.DataFrame({ 'SequenceNumber': test_X['SequenceNumber'],
                            'IsPanPredicted': y_pred[0],'IsPanExpected': test_y["IsPan"] })
submission.to_csv("./outputData/XGBoost-Predicted-Output.csv", index=False)

# Compare the Predicted and Expected Output

In [102]:
submission

      SequenceNumber  IsPanPredicted  IsPanExpected
9                  9               0              0
285              285               0              0
674              674               0              0
99                99               0              0
667              667               0              1
...              ...             ...            ...
264              264               0              1
442              442               0              0
1006            1006               0              1
541              541               0              1
20                20               0              1

[344 rows x 3 columns]

In [104]:
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(test_y, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 100.00%

In [111]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [114]:
kfold = KFold(n_splits=10, random_state=7)
results = cross_val_score(gbm, X, y, cv=kfold)
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 100.00% (0.00%)